.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-modal {
  position: relative;
  padding: 50px;
  width: 500px;
  border-radius: 10px;
  background-color: #fff;
  border-color: red;
  font-size: 36px;
  text-align: center;
}

.my-modal .btn-danger {
  font-size: 24px;
  padding: 10px 30px;
  margin-top: 20px;
}

.my-modal .btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
}
